*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color:#222831 ;
    color: #FFF;
    padding: 10px 0 10px 0;
}

nav p{
    margin-top: 15px;
}

.nav-bar{
    list-style: none;
    height: 50px;
    display: flex;
    gap: 30px;
}

.nav-bar li{
    padding-top: 15px;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    font-size: small;
}

.nav-bar a:hover{
    color: #B4B4B8;
}

img{
    border-radius: 50%;
    width: 250px;
    height:250px;
}

#title{
    height: 400px;
    background-color: #222831;
}

.title-description {
    display: flex;
    justify-content: space-evenly;
}
.title-img{
    margin-top: 5%;
}

.title-content{
    padding-top: 10%;
    font-size: 1.2rem;
}

.title-content h1 {
    color: #FFF;
    margin-bottom: 10px;

}

.title-content p{
    color: #00ADB5;
}

@media only screen and (max-width: 800px) {
    .title-description {
        flex-wrap: wrap;    
    }
  }

h2{
    padding-bottom: 40px;
    text-align: center;
}

#about p{
    text-align: center;
    display: block;
    width:75%;
    font-size: 20px;
}
#projects{
    color: white;
    background-color: #1A1A1D;
    padding: 50px
}

.pro-main{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.pro{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pro p{
    padding: 20px;
}
.pro h4{
    padding: 20px 0 0 20px
}

#contact{
    padding: 50px;
    text-align: center;
    background-color: #F0F0F0;
}
.fa-brands{
    font-size: 23px;
}